# Options for GnuPG
#
# Reference:
# * https://www.gnupg.org/documentation/manuals/gnupg/GPG-Configuration.html
# * https://github.com/drduh/config/blob/master/gpg.conf
# * https://wiki.archlinux.org/title/GnuPG
# * https://www.gnupg.org/documentation/manuals/gnupg/GPG-Esoteric-Options.html

{{ _users.extensions.gpg.config }}